<h3>Odwiedź nasz salon!</h3>
<p>
  ZPUH SOFKA
  Osiedlowa 30
  87-707 Zakrzewo

  Telefon/Fax: (54) 27-20-203﻿
  E-mail: ﻿markiewiczfryderyk@gmail.com
</p>

<h3>Godziny otwarcia:</h3>
<p>﻿
  Poniedziałek - Piątek
  8.00 - 16.00
  Sobota
  8.00 - 13.00
  (po uprzednim telefonie można umowić sie na późniejszą godzinę)
</p>

<div align="center">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
  <% end %>
</div>