<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "controllers/#{params[:controller]}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "controllers/#{params[:controller]}", 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!--navbar-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Sofka</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>

    <%= yield %>

  <footer>
    <ul class="sf-footer">
      <li>
        <%= link_to "Zaloguj", '#', class: "sf-block" %>
      </li>
      <li>
        <%= link_to "Kontakt", '#', class: "sf-block" %>
      </li>
    </ul>
  </footer>
  </body>
</html>
